@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;

    #profile-pic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
    }

    header h1 {
        margin: 0;
    }    

    .nav_button {
        margin-left: 700px;
        gap: 10px;
    }
}

footer {
    background-color: #6B32C8;
    color: white;
    text-align: center;
    line-height: 0px;
    padding: 0px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}