@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

 html {
    height: 100%;
}

body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(ellipse at center, #2c2c54, #1a1a2e) no-repeat fixed;
    color: #d9d9d9;
    padding-top: 130px;
    padding-bottom: 65px;
    min-height: 100%;
    box-sizing: border-box;
}

.nav_button {
    margin-left: 570px;
    gap: 13px;
}

.nav_button button {
    background-color: transparent;
    color: white;
    border: 2px solid #8e8db3;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav_button button:hover {
    background-color: #8e8db3;
    color: #0d2e20;
}

header {
    background-color: #0d2e20;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 3px solid #207a6f;


    #profile-pic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 3px solid #2a9d8f;
        object-fit: cover;
        margin-right: 20px;
    }

    h1 {
        margin: 0;
    }

    h2 {
        margin: 0;
        font-weight: normal;
        font-size: 2em;
        margin-left: 350px;
    }
}

footer {
    background-color: #0d2e20;
    color: white;
    text-align: center;
    padding: 0px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 3px solid #207a6f;
}